<h3>Create a Post file</h3>
<%= form_with model: @post do |f| %>
<%= f.text_field :title,placeholder:"Enter the title" %><br>
<%= f.text_field :content,placeholder:"Enter the content" %><br>
<div class="field">
  <%= f.label :image %>
  <%= f.file_field :image%>
</div>
<%= f.submit %>
<% end %>
